{% extends "home/base.html" %}
{% block content %}
<!-- <p>{{ data }}</p> -->
    <div class="container">
        <td>
            <img src="../../static/about 2.png" alt="" class="img-responsive" style="width: 80%; float: center; margin-block-start: 10px;" />
        
        </td>
        <div class="my-3">
            <h1>
                The main reason to take this topic as our project is :
            </h1><br>
            <h4>
                ● Many people have forgotten the herbal way of medication by using commonly appearing flowers . 
                <br>● As we modernize we have lost touch with the holy importance of flowers that were used in rituals. 
            </h4><br>
            <h1>
                Our main objective for selecting this topic are as follows
            </h1><br>
            <h4>
                ● The main Objective of the project is to develop awareness in people of the ethological importance of commonly seen flowers. 
                <br>● According to the preaching of our ancestors flowers can be used for medication, cosmetics, in cuisines.

            </h4>

        </div>
    </div>
{% endblock content %}