{% extends "home/base.html" %}
{% block content %}

    <h1 align="center" style="font-family: 'Times New Roman', Times, serif; font-size: 60px;">Help</h1>
    <div class="container">
        <h3>How it works:-</h3><br>

            <p align="center"> 
                1.) Upload the image of flower which is to be recognized by simply clicking on "UPLOAD IMAGE" button.<br>
                2.)As the system gets its input it will start detecting.<br>
                3.)System will then identify the type of flower which has been provided to it by the user.<br>
                4.)The flower name along with the biological information of that particular flower will be displayed.<br>
            </p><br><br>  
    </div>
{% endblock content %}
        