{% extends "home/base.html" %}
{% block content %}
{% load static %}
	<head>
		<!-- <#slider> -->
		
		<div class="container my-5">
			<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
						aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
						aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
						aria-label="Slide 3"></button>
					<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
						aria-label="Slide 4"></button>	
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="../../static/daisy-cartoon-slider.png" class="rounded mx-auto my-5 d-block w-99" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h5>Daisy</h5>
							<p>Some representative placeholder content for the first slide.</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../../static/Sunflower-slider.png"  class="rounded mx-auto my-5 d-block w-99" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h5>Sunflower</h5>
							<p>Some representative placeholder content for the second slide.</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../../static/Rose-slider.png" class="rounded mx-auto my-5 d-block w-99" alt="...">
						<div class="carousel-caption d-none d-md-block ">
							<h5>Rose</h5>
							<p>Some representative placeholder content for the third slide.</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../../static/dandelion-slider.png" class="rounded mx-auto my-5 d-block w-99" alt="...">
						<div class="carousel-caption d-none d-md-block ">
							<h5>dandelion</h5>
							<p>Some representative placeholder content for the third slide.</p>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<hr class="carousel-divider">

		
		{% comment %} marque {% endcomment %}
		<div class="marquee">
			<section id="block-block-12" class="block block-block clearfix">
				<marquee direction="left">
					<div>Welcome to Flower Detection </div>
				</marquee>
			</section>
			<section id="block-block-17" class="block block-block clearfix">
		</div>
		<hr class="marquee-divider">


		{% comment %} upload button {% endcomment %}
		<div class="container ">
			<div class="col-md-12 my-5 text-center">
 				<form method = "post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Upload</button>
				</form>
				
				<div class="container">
					<form action="/Test1">
						<button id="stat-btn" class="btn">PRESS ME </button>
					</form>	
				</div>
			</div>
		</div>	
		{% comment %} cards {% endcomment %}
			
		<div class="container">
			
				<div class="row" id="Flower_name">
					<!-- <div id="Flower_name"> -->
						<div class="col-sm-3 ">
							<div class="card" style="width: 18rem;">
								<img src="../../static/daisy.jpg" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Daisy</h5>
									<h1 style="font-weight: bold;">{{info.Flower_name}}</h1>
									<p class="card-text">daisy is a flower.
									which is white</p>
									<form action ="/info">
										<button onClick="choose('Daisy')" class="btn btn-primary" name="Daisy">For More Information</button>
									</form>
								</div>	
							</div>
						</div>
						<div class="col-sm-3 ">
							<div class="card" style="width: 18rem;">
								<img src="../../static/rose1.jpg" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Rose</h5>
									<p class="card-text">this will give info of yellow rose.</p>
									<button onClick="choose('Rose')" class="btn btn-primary">For More Information</button>
								</div>
							</div>
						</div>
						<div class="col-sm-3 ">
							<div class="card" style="width: 18rem;">
								<img src="../../static/dandelion.jfif" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Dandelion</h5>
									<p class="card-text">this will give info of dandelion.</p>
									<button onClick="choose('Dandelion')" class="btn btn-primary">For More Information</button>
								</div>
							</div>
						</div>
						<div class="col-sm-3 ">
							<div class="card" style="width: 18rem;">
								<img src="../../static/sun.jpg" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Sunflower</h5>
									<p class="card-text">type something</p>
									<button onClick="choose('Sunflower')" class="btn btn-primary">For More Information</button>
								</div>
							</div>
						</div>
					<!-- </div> -->
				</div>
		</div>
		


	</head>
{% endblock content %}